CREATE TABLE orders (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        orderNumber TEXT,
        customerName TEXT,
        date TEXT,
        product TEXT,
        repairCost TEXT
    );
CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE productDescriptions (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        productId INTEGER,
        description TEXT,
        FOREIGN KEY(productId) REFERENCES orders(id)
    );
CREATE TABLE users (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        username TEXT UNIQUE,
        password TEXT
    );
CREATE TABLE login (    id INTEGER PRIMARY KEY AUTOINCREMENT,    username TEXT NOT NULL,    password TEXT NOT NULL);
