<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/styles/register.css">
</head>
<body>
    <div class="container">
        <h2>Registro</h2>
        <form action="/register" method="post">
            <div>
                <input type="text" name="username" placeholder="Usuário" required>
            </div>
            <div>
                <input type="password" name="password" placeholder="Senha" required>
            </div>
            <button type="submit">Registrar</button>
        </form>
    </div>
</body>
</html>
