/* styles.css */

body { font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 20px; }
table { width: 100%; border-collapse: collapse; }
th, td { padding: 10px; border: 1px solid #ccc; text-align: left; }
th { background-color: #333; color: #ff0; }
.status { width: 20px; height: 20px; display: inline-block; border-radius: 50%; margin-right: 5px; }
.green { background-color: green; }
.orange { background-color: orange; }
.red { background-color: red; }
.blue {background-color: blue;}
button {
  background-color: #333;
  color: #ff0;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}
button:hover {
  background-color: #555;
}

.bullet {width: 20px; height: 20px; display: inline-block; border-radius: 50%; margin-right: 5px; }
